.container {
  padding: 20px;
  text-align: center;
  color: White;
  background: rgb(238, 238, 238);
}
@media only screen and (max-width: 500px) {
  .container {
    background-color: #151e29;
  }
}
